/var/log/ulitkoshi/*.log {
    daily
    rotate 7
    compress
    delaycompress
    missingok
    notifempty
    create 0640 {{ user_name }} {{ user_name }}
    sharedscripts
    postrotate
        docker exec ao-api kill -HUP $(pidof dotnet) || true
    endscript
}

/var/log/nginx/{{ apex_domain }}-*.log {
    daily
    rotate 14
    compress
    delaycompress
    missingok
    notifempty
    create 0640 www-data adm
    sharedscripts
    postrotate
        [ -f /var/run/nginx.pid ] && kill -USR1 `cat /var/run/nginx.pid`
    endscript
}