@import "tailwindcss";

@theme {
  --font-sans: 'Arteks-Forced', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

@font-face {
  font-family: 'Arteks-Forced';
  src: local('Arteks Regular'), local('ArteksRegular'), url('./assets/fonts/Arteks Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arteks-Forced';
  src: local('Arteks Medium'), local('ArteksMedium'), url('./assets/fonts/Arteks Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Arteks-Forced';
  src: local('Arteks Bold'), local('ArteksBold'), url('./assets/fonts/Arteks Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Arteks-Forced';
  src: local('Arteks Black'), local('ArteksBlack'), url('./assets/fonts/Arteks Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
